@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(/image/background.svg);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: -10% -25%;
}
